**1.In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

`*,'hello', -87.8,-,/,+,6`

**Ans:**

- `*` : **Expression** this is multiplication operator
- `'hello'` : **Value** this is value of type `string`
- `-87.8` : **Value** this is value of type `float`
- `-` : **Expression** this is substraction operator
- `/` : **Expression** this is division operator
- `+` : **Expression** this is addition operator
- `6` : **Value** this is value of type `int`

**2.What is the difference between string and variable?**

**Ans:**
`string` is a datatype which stores collection of one or more charcteres enclosed in double or single quotes.

`Variable` is a where we can store different types of values having different types of datatype and use them in further computation. A string can be a variable.

**3.Describe three different data types.**

**Ans:**
1. `int`: Integer datatype, represented as int. These are used to store the whole number without a fraction.
2. `str`: String datatype, represented as str. These are used to store a list of one or more Unicode characters.
3. `bool`: Boolean datatype, represented as a bool. These are used to store True or False values.

Examples:

In [1]:
a = 11
b = "Hello"
c = False

print(f"{a} is of type {type(a)}")
print(f"{b} is of type {type(b)}")
print(f"{c} is of type {type(c)}")

11 is of type <class 'int'>
Hello is of type <class 'str'>
False is of type <class 'bool'>

**4.What is an expression made up of? What do all expressions do?**

**Ans:** An expression is made up of a combination of operators and operands (values i.e. int, float, string etc.) Expression should always have atleast one operator. Once we evaluate the expression it perform the necssary calculation/computation on the operands and display the reult.

**5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

**Ans:** We can safely state that an expression is a subset of a statement but not vice e versa. An expression always gets evaluated and returns the evaluated result. But a statement can be just and declaration and assignment of a variable which not necessarily need to be evaluated and returns the result.

for example
```python
a = 10 # this is assignment statement
b = a + 5 # this is addition expression
```

**6.After running the following code, what does the variable bacon contain?**
```python
bacon = 22
bacon + 1
```

**Ans:** Here `bacon` is assigned a int value **22**. And second statement is an expression `bacon + 1`. But as an expression evalutes and returns a result, that result should be stored in some variable otherwise it will be lost. Here we are not storing result evaluted by `bacon + 1` in any variable hence it will be lost. The original `bacon` variable will be still be holding int value **22**

Let's varify,

In [2]:
bacon = 22
bacon + 1
print(bacon)

22

**7.What should the values of the following two terms be?**
```python
'spam' + 'spamspam'
'spam' * 3
```

**Ans:**

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

Here both expressions evaluate to the same result albeit using two different techniques. The first technique is simple `string concatenation` whereas the second one is `string multiplication`.

**8.Why is eggs a valid variable name while 100 is invalid?**

**Ans:** There are some rules defined in python for naming variables, those are as follows:
1. Variable names should start with alphabets or underscore.
2. Variable names should not contain any special characters excluding underscores.
3. Variable names can contain numbers but can't start with numbers.
4. Variable names are case-sensitive.
5. Variable names must not contain any space.
6. Variable names must not be one of the reserved words in python.

Hence `eggs` is the valid variable name but `100` is not since it violates rules 1 and 3.

**9.What three functions can be used to get the integer, floating-point number, or string version of a value?**

**Ans:** Using `int()`, `float()`, `str()` we can get integer, float and string version of the value.

In [5]:
a = 15
print(f"integer value of a is {int(a)} type : {type(int(a))}")
print(f"float value of a is {float(a)} type : {type(float(a))}")
print(f"string value of a is {str(a)} type : {type(str(a))}")

integer value of a is 15 type : <class 'int'>
float value of a is 15.0 type : <class 'float'>
string value of a is 15 type : <class 'str'>

**10.Why does this expression cause an error? how can you fix it?**
```python
'I have eaten ' + 99 + ' burritos.'
```

**Ans:**

In [6]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

The above expression throws `TypeError` because we are trying to concate `99` which is an `int` to a string. We need to type cast `99` to the string to fix this error.

In [7]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'