**1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.**

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?**

In [2]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   
if(test1 == test2):
    print("There is no difference between test 1 and test 2")
else:
    print("There is a difference between test 1 and test 2")

This is a test of the emergency text system,
There is no difference between test 1 and test 2

**3. Create a CSV file called books.csv by using these lines:**

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [3]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

In [4]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

**5. Read books.csv and insert its data into the book table.**

In [5]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

**6. Select and print the title column from the book table in alphabetical order.**

In [6]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

**7. From the book table, select and print all columns in the order of publication.**

In [7]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.**

In [11]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
print(conn)

Engine(sqlite:///books.db)

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.**

In [13]:
! python -m pip install redis

Requirement already satisfied: redis in c:\users\91895\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\91895\anaconda3\lib\site-packages (from redis) (4.0.2)

In [18]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

C:\Users\91895\AppData\Local\Temp/ipykernel_6748/19521559.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

**10. Increment the count field of test and print it.**

In [21]:
conn.hincrby('test','count', 3)
conn.hget('test', 'count')

b'10'