**Q-9.** Given the score of students in multiple exams. 

Test the hypothesis that the mean scores of all the students are the same. If not, name the student with the highest score.

**Ans:** To test the hypothesis that the mean scores of all students are the same and identify the student with the highest score, you can use a one-way analysis of variance (ANOVA) test followed by a post-hoc test to compare individual group means.

Null hypothesis is : the mean scores of all the students are not the same.

In [11]:
import numpy as np
import pandas as pd
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [12]:
student_exam_score_dict = {
    "name": pd.Series(["Karan", "Deepa", "Karthik", "Chandan", "Jeevan"]),
    "exam_1" : pd.Series([85, 70, 90, 75, 95]),
    "exam_2" : pd.Series([90, 80, 85, 70, 92]),
    "final_exam" : ([92, 85, 88, 75, 96])
}

df = pd.DataFrame(student_exam_score_dict)
df

      name  exam_1  exam_2  final_exam
0    Karan      85      90          92
1    Deepa      70      80          85
2  Karthik      90      85          88
3  Chandan      75      70          75
4   Jeevan      95      92          96

In [13]:
# Perform one-way ANOVA test
f_statistic, p_value = f_oneway(df['exam_1'], df['exam_2'], df['final_exam'])

In [22]:
# Display ANOVA results
print("One-way ANOVA Results:")
print("======================")
print(f"F-statistic: {f_statistic}")
print(f"p-value: {p_value:.2f}")

One-way ANOVA Results:
======================
F-statistic: 0.3236947791164659
p-value: 0.73

In [29]:
p_value < 0.05

False

Since p_value is greater than 0.05 the null hypothesis is accepted. This means the score of all students is not the same

In [18]:
 # Find the student with the highest score
highest_score_student = df['name'][df['final_exam'].idxmax()]

In [19]:
print()
print(f"Student with the Highest Score: {highest_score_student}")

Student with the Highest Score: Jeevan